*{
    margin: 0;
    box-sizing: border-box;
}
.box{
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
   
}
a{
    text-decoration: none;
    padding: 10px;
    border: 2px solid orangered;
    border-radius: 10px;
    color: #000;
}
a:hover{
    background-color: orangered;
    color: rgb(255, 255, 255);
    /* background-color: rgb(21, 83, 112); */
}